@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;700&family=IBM+Plex+Sans:wght@200;300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    display: flex;
    display: inline-grid;
    flex-wrap: wrap;
    flex-direction: row;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #00F3BB;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
    font-weight: 300;
}

h1:nth-of-type(1) span:nth-of-type(2) {
    color: #0000EC;
}

h1:nth-of-type(1) span:nth-of-type(1) {
    text-decoration: line-through;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2.5px;
    line-height: 20pt;
    padding: .5em 3em 1em 0;
}

main {
    width: 100%;
    justify-content: center;
    text-orientation: upright;
}

button {
    background: #00F3BB;
    color: black;
    margin: 2em 0 1em 0;
    padding: 1em;
    text-transform: uppercase;
    border: 0;
    width: 20%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}

button:hover {
    color: white;
    background-color: blue;
}


/* menu */

.logo {
    display: block;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background: url(../img/logo.svg);
    background-size: 50px 50px;
    margin: 0 0 0 6em;
}

nav {
    display: flex;
    float: inline-end;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}


/* secciones - seccion 2 */

.secHello {
    margin: 3em 3em 3em 9em;
}

.secEp h1 {
    color: white;
    margin: 1em 0 0 1.5em;
}

.secEp {
    display: flex;
    float: inline-end;
    padding: 3em 0 20em 3em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(-6deg);
    z-index: -1;
}

.secEp .wrap {
    display: inline-block;
    padding: 10px;
    justify-content: space-between;
    grid-template-columns: auto;
    transform: skewY(6deg);
    z-index: 1;
}

.grid {
    width: auto;
    height: auto;
}

.secEp img {
    width: 100%;
    max-width: 900px;
}


/* sec phone */

.grid2 {
    display: flex;
    float: inline-end;
}

.item1 {
    display: inline-block;
    padding: 10px;
    justify-content: space-between;
    grid-template-columns: auto auto;
}

.grid2 img {
    height: auto;
    width: 600px;
    z-index: 2;
    position: relative;
    top: -18em;
}

.grid2 h1 {
    font-size: 48px;
    margin: 1em 0 .5em 0;
}

.grid2 p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 2em .5em 0;
}


/*  wrapper imgs */

.container {
    top: -6em;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0;
}

.grid-container img {
    padding: 0;
    margin: 0;
    width: 100%;
}

.grid-container-svg {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 4em;
}

.g-item-svg img {
    background-color: rgba(255, 255, 255, 0.8);
    padding: .5em;
    font-size: 24px;
    text-align: center;
    width: 120px;
}

.container h1 {
    padding: 1em 0 1em 2em;
}


/*  novedades */

.container-nov {
    display: flex;
    text-align: center;
    float: inline;
    padding: 3em 0 20em 3em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(-6deg);
    z-index: -1;
}

.wrap2 {
    display: inline-block;
    padding: 10px;
    justify-content: space-between;
    grid-template-columns: auto;
    transform: skewY(6deg);
    z-index: 1;
    justify-content: center;
}

.wrap2 h1 {
    margin-top: 3em;
    color: white;
    justify-content: center;
}

.container-nov button {
    width: 80%;
}

footer {
    position: relative;
    top: -4em;
    background: white;
    height: 130px;
    padding: 3em;
}

@media (min-width: 60em) {
    .secEp .secPhone {
        grid-template-areas: "header header" "content content" "episodios episodios" "phoneimg phone" "phoneimg phone" "interviews interviews" "topics topics" "end-container end-container" "footer footer"
    }
    .wrap {
        height: auto;
        width: 100%;
    }
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }
    img {
        width: 100%;
        height: auto;
        padding: 3em;
        margin-right: 3em;
        margin: 1em;
    }
}